@import url('./includes/theme.less');

.nav-bar {
    height: 70px;

    > ul {
        height: 70px;
        width: 100%;
        display: table;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        background: #fff;
        border-bottom: 1px solid #f7f8fa;
        z-index: 999;

        > li {
            width: 120px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;

            > a {
                text-decoration: none;
                color: @mainCopyColor;
            }

            &.-active {
                border-bottom: 2px solid #E07B5E;
            }
        }

        &:before {
            content: '';
            display: table-cell;
        }

        &:after {
            content: '';
            display: table-cell;
        }
    }

    &.-sticky {
        > ul {
            position: fixed;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.content-divider {
    border-top: 1px solid #E07B5E;
    width: 60px;
    margin: 40px auto;
}

.tiles {
    ._tile {
        float: left;
        font-size: 15px;
        letter-spacing: 0.3px;
        text-rendering: optimizelegibility;
        line-height: 22px;
        color: @mainCopyColor;
        margin-bottom: 40px;

        &:before {
            content: '';
            display: block;
            height: 40px;
            width: 40px;
            margin-bottom: 20px;

            background-repeat: no-repeat;
            background-position: 50%;
            background-size: contain;
        }

        &.-answer:before { background-image: url('img/i/interview@2x.png'); }
        &.-diagnose:before { background-image: url('img/i/scope@2x.png'); }
        &.-work:before { background-image: url('img/i/chat@2x.png'); }
        &.-write:before { background-image: url('img/i/notebook@2x.png'); }
        &.-refer:before { background-image: url('img/i/group@2x.png'); }
        &.-order:before { background-image: url('img/i/mail@2x.png'); }

        &.-read:before { background-image: url('img/i/docs@2x.png'); }
        &.-plan:before { background-image: url('img/i/calendar@2x.png'); }
        &.-notification:before { background-image: url('img/i/star@2x.png'); }
        &.-preference:before { background-image: url('img/i/cog@2x.png'); }
        &.-manage:before { background-image: url('img/i/mailstats@2x.png'); }
        &.-access:before { background-image: url('img/i/book@2x.png'); }
    }

    ._big-tile {
        background: #fff;
        box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
        padding: 40px 30px;
        text-align: center;
        cursor: pointer;

        h2 {
            color: @headerColor;
        }

        p {
            font-size: 15px;
            color: @mainCopyColor;
            letter-spacing: 0.3px;
            text-rendering: optimizelegibility;
            line-height: 22px;
        }

        &:before {
            content: '';
            display: block;
            height: 40px;
            width: 40px;
            margin: 0 auto 40px;

            background-repeat: no-repeat;
            background-position: 50%;
            background-size: contain;
        }

        &.-phone:before { background-image: url('img/i/iosdeveloper@2x.png'); }
        &.-design:before { background-image: url('img/i/uidesigner@2x.png'); }
        &.-devices:before { background-image: url('img/i/fullstackdeveloper@2x.png'); }
    }

    &.-with-img {
        > img {
            opacity: 1;
            display: block;
            width: 300px;
            -webkit-transform: translateY(0);
            transform: translateY(0);

            -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
            transition: transform 0.5s, opacity 0.5s;

            &.-hidden {
                opacity: 0;
                -webkit-transform: translateY(200px);
                transform: translateY(200px);            
            }
        }
    }

    &.-big {
        margin: 60px 0 100px;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
