@import url('./includes/theme.less');

body {
    margin: 0px;
}

.header-block {
    margin: 60px 0;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    img {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}

.content-block {
    background-color: #aaa;

    &:nth-child(even) {
        background-color: #eee;
    }

    &:before {
        content: '';
        display: block;
        border-top: 1px solid transparent;
        margin-bottom: 30px;
    }

    img {
        width: 300px;
    }
}

.testimonials {
    margin: 30px 0;

    ._quotes {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        height: 300px;
        width: 100%;
        overflow: hidden;

        ._quote {
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;

            &.-prev {
                left: -100%;
                background: red;
            }

            &.-current {
                left: 0;
                background: green;
            }

            &.-next {
                left: 100%;
                background: blue;
            }

            transition: left 0.3s ease-in;
        }
    }

    ._paginator {
        text-align: center;
    }
}

@media (max-width: 640px) {
    .content-block {
        p {
            text-align: center;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }
}
