.general-button() {
    padding: 1px 36px 0px 36px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: 'Gotham Rounded', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-rendering: optimizelegibility;
    letter-spacing: 0.3px;
    -webkit-font-smoothing: antialiased;

    &:focus {
        outline: none;
    }
}

.general-small-button() {
    padding: 3px 16px 2px 16px;
    height: 34px;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: 'Gotham Rounded', sans-serif;
    font-size: 14px;
    text-rendering: optimizelegibility;
    letter-spacing: 0.3px;
    -webkit-font-smoothing: antialiased;

    &:focus {
        outline: none;
    }
}
